body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-style: normal;
}
/* ======================= NAVBAR SECTION BEGIN =======================*/
.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.header-section {
  background: #f1f3ff;
  margin: 0px;
}

.text-navbar {
  font-family: "Helvetica";
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.btn-register {
  height: 35px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #5cb85f;
}

/* ======================= NAVBAR SECTION END =======================*/

/* ======================= HERO SECTION BEGIN =======================*/
.header-hero-section {
  margin-top: 5%;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.text-hero-section {
  max-width: 468px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.btn-rent-now {
  width: 140px;
  height: 36px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #5cb85f;
}

.img-car {
  width: 100%;
}
/* ======================= HERO SECTION END =======================*/

/* ======================= OUR SERVICE SECTION BEGIN =======================*/
.our-service-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.img-service {
  margin-bottom: 50px;
}

.img-service-girl {
  max-width: 100%;
  float: right;
}

.desc-service {
  max-width: 558px;
  padding: 0 1rem;
}

.header-text-ourservice {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-right: 50px;
}

.text-ourservice {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
}

.header-text-list-ourservice {
  margin-top: 50px;
}

.text-list-ourservice {
  padding-left: 30px;
  margin: 20px 0;
  list-style: none;
  background-image: url(image/check.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  padding-left: 45px;
}
/* ======================= OUR SERVICE SECTION END =======================*/

/* ======================= WHY US SECTION BEGIN =======================*/

.header-whyus {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.text-whyus {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.card {
  border: 2px solid #d0d0d0;
  box-sizing: border-box;
  border-radius: 8px;
}

.icon-why-us {
  width: 32px;
  height: 32px;
}

.header-card-text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0px;
}

.text-card {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin: 16px 0px;
}
/* ======================= WHY US SECTION  END =======================*/

/* ======================= TESTIMOBY SECTION  BEGIN =======================*/

.testimony-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimony-box {
  max-width: 619px;
  background-color: #f1f3ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin: auto;
}

.carousel-inner {
  margin: auto;
}

.header-text-testimoni {
  margin-left: 42%;
}

.text-testimonial {
  margin-left: 34%;
}
/* =========== CTA BANNER SECTION BEGIN =========== */
.cta {
  margin: auto;
  background-color: #0d28a6;
  width: 80%;
  color: #ffffff;
  border-radius: 13px;
  padding: 30px;
  margin-bottom: 100px;
}

.cta-header-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}

.cta-text {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 52px;
  max-width: 470px;
  margin: auto;
}
/* =========== CTA BANNER SECTION END ===========*/

/* ============= FAQ SECTION BEGIN ==============*/
.faq-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.faq-header-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 16px;
  width: 100%;
}

.faq-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.list-questions-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.accordion-box {
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  margin-bottom: 16px;
}

/* ============= FAQ SECTION END ==============*/

/* ============= FOOTER SECTION BEGIN ==============*/

.footer-section {
  margin-top: 100px;
  margin-bottom: 76px;
}

.alamat,
.email,
.telepon {
  display: block;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.list-navbar-footer {
  list-style: none;
  margin-bottom: 16px;
}

.text-navbar-footer {
  color: #000000;
  text-decoration: none;
  margin: 0px;
}

.list-sosmed {
  display: inline;
  margin: 3px;
  list-style: none;
}

.navbar-footer {
  margin: 0px;
  padding: 0px;
}

.navbar-sosmed {
  margin: 0px;
  padding: 0px;
}
/* ============= FOOTER SECTION END ==============*/ ;
